{% extends 'posts/base.html' %}

{#TITLE#}
{% block title %} Posts {% endblock %}

{#CONTENT#}
{% block content %}
    {% load humanize %}

{#    ПОИСК#}
<form method="get">
    <div class="input-group mb-3">
      <input name="s" type="text" class="form-control" placeholder="Введите название поста"
             value="{{ search_str }}" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Найти</button>
    </div>
    <div>
        <input type="date" name="d" value="">
    </div>
</form>
<hr>
<div class="row row-cols-3 row-cols-md-3 g-4">
    {% for post in posts %}
        <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ post.title}}</h5>
                  {% if user.id == post.user %}
                <a href="{% url 'update' post.id %}"><span class="badge rounded-pill text-bg-primary">Изменить</span></a>
                  {% endif %}
                <a href="{% url 'get_post' post.id %}"><span class="badge rounded-pill text-bg-light">Читать</span></a>
              </div>
                <div class="card-footer">
                    <small class="text-muted">{{ post.date | naturaltime }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


{#FOOTER#}
{% block footer %}
    {% load l10n %}


<footer class="text-center text-lg-start text-muted">
    <div class="container p-4">

        {% if page_obj.has_other_pages %}
        <nav aria-label="...">
          <ul class="pagination justify-content-center">

          {% localize off %}
            {# Первая страница #}
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'show_posts' %}?p=1&s={{ search_str }}">1 << </a>
            </li>
            {% endif %}

            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
              <a class="page-link"
                 {% if page_obj.has_previous %}
                 href="{% url 'show_posts' %}?p={{ page_obj.previous_page_number }}&s={{ search_str }}"
                 {% endif %}
              >Предыдущая</a>
            </li>

            {# Предыдущая страница #}
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'show_posts' %}?p={{ page_obj.previous_page_number }}&s={{ search_str }}">{{ page_obj.previous_page_number }}</a>
                </li>
            {% endif %}


            {# Текущая страница #}
            <li class="page-item active" aria-current="page">
              <a class="page-link">{{ page_obj.number }}</a>
            </li>


            {# Следующая страница #}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'show_posts' %}?p={{ page_obj.next_page_number }}&s={{ search_str }}">{{ page_obj.next_page_number }}</a>
            </li>
            {% endif %}

            {# Запасная страница #}
            {% if page_obj.number|add:'1' < paginator.num_pages %}
            <li class="page-item">
                <a class="page-link" href="{% url 'show_posts' %}?p={{ page_obj.number|add:'2' }}&s={{ search_str }}">{{ page_obj.number|add:'2' }}</a>
            </li>
            {% endif %}

            {# Следующая страница #}
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
              <a class="page-link"
                 {% if page_obj.has_next %}
                 href="{% url 'show_posts' %}?p={{ page_obj.next_page_number }}&s={{ search_str }}"
                 {% endif %}
              >Следующая</a>
            </li>

            {# Последняя страница #}
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="{% url 'show_posts' %}?p={{ paginator.num_pages }}&s={{ search_str }}"> >> {{ paginator.num_pages }}</a>
            </li>
            {% endif %}
          {% endlocalize %}
          </ul>
        </nav>
    {% endif %}
    </div>
</footer>

{% endblock %}
