{% extends 'registration/login.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Введите новый пароль</h1>

    <div class="form-floating">
      <input type="password" name="password1" class="form-control" id="floatingInput">
      <label for="floatingInput">Введите пароль</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password2" class="form-control" id="floatingInput">
      <label for="floatingInput">Повторите пароль</label>
    </div>
    {% for _, error in errors.items %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
    <button class="w-100 btn btn-lg btn-primary" type="submit">Отправить</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
</form>
{% endblock %}